// font style
$font-stack: 'Montserrat', sans-serif;

// color
$primary-color: #1f77fa;
$secondary-color: #1357bb;
$third-color: #1f6ee2;
$gray-color: #bfc4ca;
$black-color: #000;
$white-color:#fff;

